.loadingContainer {
  color: rgba(255, 255, 255, 0.605);
  width: 40%;
  display: block;
  position: absolute;
  top: 30%;
}
.loadingBar {
  border: 1px solid orange;
  min-height: 10px;
  width: 100%;
  border-radius: 10px;
}

.loadingFill {
  height: 10px;
  background-color: rgb(220, 219, 219);
  transition: 2s;
  border-radius: 5px;
}
